.hero-section {
    /* Hero is not absolutely fixed, but background is. */
    margin-top:70px; /* accommodate fixed header height */
    width: 100%;
    min-height: 100vh;
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  @media (max-width: 768px) {
    .hero-section{
      margin-top: 60px;
    }
    .lang{
      margin-left: 8.5%;
    }
  }
  
  
  .hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 0px;
    margin-top: 29px;
  }
  
  .hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1px;
    font-weight: 700;
  }
  
  .hero-content p {
    font-size: 1.2rem;
  }
  
  .load-grid {
    position: relative;
    z-index: 2;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* center horizontally */
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .lang{

  
    position: absolute;  /* Ya relative, as per need */
    left: 50%;
    transform: translateX(-50%);
      
  }

  
  .hero-overlay{
    text-align: center;
  }