.modal-content {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  padding: 20px;
  border-radius: 16px;
  width: 320px;
  color: #fff;
  font-family: 'Outfit', sans-serif;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  width: auto;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}

.toggle-buttons button {
  background: transparent;
  border: none;
  color: #fff;
  font-family: 'Outfit', sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
  padding-bottom: 5px;
  transition: border-bottom 0.3s ease, color 0.3s ease;
}

.toggle-buttons button:hover {
  color: #ddd;
}

.toggle-buttons .active {
  border-bottom: 2px solid #ff5722;
  font-weight: bold;
}
